head,body{
    background-image: url(../images/667769.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    flex-wrap:wrap ;

}
.first{
    background-color: rgb(39, 37, 37);
    color: white;
    margin-top:50px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-right: 1050px;
    border-radius: 10px;
    padding-left: 8px;
    position: absolute;
}
.user{
    font-size: 17px;
    padding-top: 10px;
    font-family: 'Zen Tokyo Zoo', cursive;
}
.pass{
    font-size: 17px;
    padding-top: 40px;
    font-family: 'Zen Tokyo Zoo', cursive;
}
.form>input{
    background: transparent;
    color:white;
    border-style:none ;
    border-bottom: solid white 1px;
}
.form>h2{
    color:white;
    font-size: 15px;
    padding-left: 14px;
    padding-top: 6px;
}
.form>h2>span:hover{
    color:purple;
    cursor:pointer;
}
.page1{
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
}
.btn{
    padding:8px 7px;
    background-color: rgb(98, 197, 98);
    margin-top:40px;
    border-radius: 10px;
    font-weight: bold;
    font-size:15px;
}
#check{
    margin-top: 14px;
}
.btn>span:hover{
    cursor:pointer;
}
/*second*/
.second{
    background-color: rgb(39, 37, 37);
    width:250px;
    height: 200px;
    margin-left: 1050px;
    padding-left: 20px;
    margin-top: 60px;
    position: absolute;
    border-radius: 16px;
    
}
.face{
    margin:10px 10px;
    padding:7px 10px;
    border-radius: 10px;
    background-color: rgb(72,103,170);
    color: white;
    font-family: 'Encode Sans SC', sans-serif ;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top:20px;
}
.face>span{
    padding-left:2px;
    padding-right:5px;
}
.face:hover{
    cursor: pointer;
}
.mail{
    margin:10px 10px;
    padding:7px 10px;
    border-radius: 10px;
    background-color: rgb(231, 64, 35);
    color: white;
    font-family: 'Encode Sans SC', sans-serif ;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-right:40px;

}
.mail>span{
     padding-left: 2px;
     padding-right: 5px;   
}
.mail{
    cursor: pointer;
}
.phone{
    margin:10px 10px;
    padding:7px 10px;
    border-radius: 10px;
    background-color: rgb(159, 230, 28);
    color: white;
    font-family: 'Encode Sans SC', sans-serif ;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-right:40px;
}
.phone>span{
    padding-left: 2px;
     padding-right: 5px;

}
.phone:hover{
    cursor: pointer;
}